<ion-header>
  <ion-toolbar>
    <ion-title>Miercoles 15 de Septiembre</ion-title>
    <h6 slot="end">Cerrar</h6>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-item>
      <ion-icon name="book-outline" slot="start"></ion-icon>
      <ion-label>Calidad de Software</ion-label>
    </ion-item>
  
    <ion-card-content class="ion-text-center">
      <p>FECHA: 15/07/2021</p>
      <p>HORARIO: 19:15 - 22:15</p>
      <p>ESTADO: AUSENTE</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="book-outline" slot="start"></ion-icon>
      <ion-label>Calidad de Software</ion-label>
    </ion-item>
  
    <ion-card-content class="ion-text-center">
      <p>FECHA: 15/07/2021</p>
      <p>HORARIO: 19:15 - 22:15</p>
      <p>ESTADO: AUSENTE</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="book-outline" slot="start"></ion-icon>
      <ion-label>Calidad de Software</ion-label>
    </ion-item>
  
    <ion-card-content class="ion-text-center">
      <p>FECHA: 15/07/2021</p>
      <p>HORARIO: 19:15 - 22:15</p>
      <p>ESTADO: AUSENTE</p>
    </ion-card-content>
  </ion-card>

</ion-content>
