<ion-header>
  <ion-toolbar>
    <ion-title color="light">QR Escaneados</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="enviarCorreo()">
        <ion-icon slot="icon-only" name="send"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item-sliding *ngFor="let escaneo of dataLocal.guardados" detail>

      <!-- sliding en lista que muestra iconos al deslizar hacia la derecha -->
      <ion-item-options side="start">
        <ion-item-option class="mail" (click)="verEscaneo(escaneo)">
          <ion-icon slot="icon-only" name="mail"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    
    <!-- implementando lista consumiendo servicios api con json impórtado desde el services/data.services.ts -> app.module.ts -> list.pages.ts -->
      <ion-item>
        <ion-icon name="book-outline" slot="start"></ion-icon>
        <ion-label>
          <h2>{{escaneo.text}}</h2>
        <p>{{escaneo.created | date: 'medium'}}</p>
        </ion-label>
      </ion-item>

      <!-- sliding en lista que muestra iconos al deslizar hacia la izquierda -->
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="delete(escaneo)">
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>
  

</ion-content>

<ion-label>
  <ion-button (click)="volver()"
              expand="full">
    Volver
  </ion-button>
</ion-label>
