<ion-header>
  <ion-toolbar>
    <ion-title color="light">QR Escaneados</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="enviarCorreo()">
        <ion-icon slot="icon-only" name="send"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let escaneo of dataLocal.guardados" detail>
      <ion-icon name="book-outline" slot="start"></ion-icon>
      <ion-label>
        <h2>{{escaneo.text}}</h2>
        <p>{{escaneo.created | date: 'medium'}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  

</ion-content>

<ion-label>
  <ion-button (click)="volver()"
              expand="full">
    Volver
    <ion-icon name="trash"></ion-icon>
  </ion-button>
</ion-label>
