.logo {
    margin-top: 130px;
    margin-bottom: 40px;
    width: 45%;
}

.user-inputs {
    margin-left: 20px;
    margin-right: 25px;
}
ion-button {
    font-size: 12px;
    font-weight: bold;
    margin-top: 40px;
}
p {
    margin-top: 35px;
    text-align: center;
    font-size: 12px;
}

.pass-hover {
    color: #00162b;
    text-decoration: underline;
    cursor: pointer;
}
