<ion-content>
  
  <ion-grid class="logo">
    <ion-row class="ion-align-items-center">
      <ion-col>
        <ion-img #logo src="\assets\icon\logo-login.svg"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="user-inputs">

    <ion-item>
      <ion-label position="floating">Usuario</ion-label>
      <ion-input required [(ngModel)]="user.usuario" minlength=3 maxlength=15 clear-input='true'></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input required [(ngModel)]="user.pass" type="password" clear-input='true'></ion-input>
    </ion-item>


    <ion-button (click)="ingresar(['/home'])" expand="block">INICIAR SESION</ion-button>

    <p class="pass-hover" (click)="recovery(['/password'])">Recuperar contraseña</p>

  </div>

</ion-content>
