.container {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}


ion-button {
  font-size: 12px;
  font-weight: bold;
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

.avatar{
  margin-top: 10px;
  img{
    height: 80px;
    border-radius: 40px;
  }
}

.set{
  margin-right: 12px;
  font-size: 22px;
  color: white;
}


p {
  margin-top: 35px;
  text-align: center;
  font-size: 12px;
}

.pass-hover {
  margin-top: 0px;
  color: #00162b;
  text-decoration: underline;
  cursor: pointer;
}

.clases {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 40px;
  margin-left: 40px;
}

.text {
  font-size: 6px;
}

.digitos {
  margin-bottom: 0px;
}

