<ion-app [fullscreen]="true">

    <ion-header>
      <ion-toolbar class="ion-text-end">
          <ion-icon (click)="salir()" class="set" name="exit-outline"></ion-icon>
      </ion-toolbar>
    </ion-header>

  <ion-content  scroll-y="false">

    <div class="avatar ion-text-center">
      <img src="\assets\img\profile.png">
    </div>

    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-center">
          <h3 #title ><b> {{dato}} </b></h3>
          <h6>Analista programador computacional</h6>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="icon ion-text-end" size="3">
            <ion-icon name="location-outline"></ion-icon>
        </ion-col>
        <ion-col class="sede ion-text-start">
            <h6>SEDE VIÑA DEL MAR</h6>
        </ion-col>
      </ion-row>
    </ion-grid>

  <ion-grid class="ion-text-center clases">
    <ion-row class="digitos">
      <ion-col>
        <h4><b>11</b></h4>
      </ion-col>
      <ion-col>
        <h4><b>0</b></h4>
      </ion-col>
    </ion-row>
    <ion-row class="text">
      <ion-col>
        <h6>Asistencia</h6>
      </ion-col>
      <ion-col>
        <h6>Inasistencia</h6>
      </ion-col>
    </ion-row>
    <p class="pass-hover" (click)="presentModal()">Ver horario de clases</p>
  </ion-grid>

    <ion-button expand="block" >ESCANEAR CODIGO QR</ion-button>

  </ion-content>

</ion-app>
