
  <ion-content [fullscreen]="true">

    <div class="container">

      <div class="ion-text-end">
        <ion-icon size="large" name="settings-outline"></ion-icon>
      </div>
    
      <div class="avatar ion-text-center">
        <img src="\assets\img\profile.png">
        </div>
      
        <ion-text class="ion-text-center">
          <h3>Nicolas Canete</h3>
          <h6>Analista programador computacional</h6>
          <ion-grid>
            <ion-row>
              <ion-col class="ion-text-end" size="3">
                  <ion-icon name="location-outline"></ion-icon>
              </ion-col>
              <ion-col class="ion-text-start">
                  <h6>Sede Viña del Mar</h6>
              </ion-col>
            </ion-row>
          </ion-grid>
          
      
        </ion-text>
      
        <ion-grid>
          <ion-row>
            <ion-col>
      
            </ion-col>
            <ion-col>
      
            </ion-col>
          </ion-row>
        </ion-grid>
      
        <ion-button expand="block">ESCANEAR CODIGO QR</ion-button>

    </div>
  
</ion-content>