

ion-button {
  font-weight: bold;
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.avatar{
  margin-top: 20%;
  margin-bottom: 15%;
  img{
    height: 150px;
    border-radius: 100px;
  }
}

.set{
  margin-right: 12px;
  font-size: 22px;
  color: white;
}


p {
  margin-top: 35px;
  text-align: center;
  font-size: 17px;
}

.pass-hover {
  margin-top: 0px;
  color: #00162b;
  text-decoration: underline;
  cursor: pointer;
}

.verHorario {
  margin-top: 60px;
}


