<ion-content [fullscreen]="true">

  <ion-icon name="settings-outline"></ion-icon>

  <ion-avatar>
    <img src="\assets\img\profile.png">
  </ion-avatar>

  <h1>Nicolas Canete</h1>
  <h2>Analista programador computacional</h2>
  <ion-icon name="location-outline"></ion-icon>
  <h3>SEDE VIÑA DEL MAR</h3>

  <ion-grid>
    <ion-row>
      <ion-col>

      </ion-col>
      <ion-col>

      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-button expand="block">ESCANEAR CODIGO QR</ion-button>
  
</ion-content>
