ion-icon {
  
  align-content: flex-end;
  margin-top: 20px;
}

ion-button {
  font-size: 12px;
  font-weight: bold;
  color: black;
  margin-top: 40px;
}

.avatar{
  margin-top: 20px;
  img{
    height: 80px;
    height: 80px;
    border-radius: 40px;
  }
}

.set{
  margin-right: 15px;
}

.sede{
  margin-top: 5px;
  h6{
    font-size: 80%;
  }
}

.icon{
  padding-bottom: 25px;
  margin-left: 15px;
}

