.container {
    margin-left: 20px;
    margin-right: 20px;
}

.pass-info {
    margin-top: 100px;
    text-align: center;
}

ion-button {
    font-size: 12px;
    font-weight: bold;
    color: black;
    margin-top: 40px;
}

.pass-info h1 {
    font-size: 24px;
    margin-bottom: 24px;
}

.pass-info p {
    font-size: 14px;
    color: #636363;
}

.pass-inputs {
    margin-top: 40px;
}

.back{
    padding-left: 10px;
}