
<ion-app>

  <ion-header translucent>
    <ion-toolbar class="back ion-text-start" >
      <ion-icon (click)="back(['/password')" name="arrow-back-outline"></ion-icon>
    </ion-toolbar>
  </ion-header>

  <ion-content>

    <div class="container">
      <div class="pass-info">
        <h1>Crear nueva contraseña</h1>
        <p>La contraseña debe ser diferente a la utilizada anteriormente</p>
      </div>
      <div class="pass-inputs">
        <ion-item>
          <ion-input  type="password" placeholder="Nueva contraseña"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input  type="password" placeholder="Confirme contraseña"></ion-input>
        </ion-item>
        <ion-button (click)="navigateToPage()" expand="block">CREAR</ion-button>
      </div>
    </div>

  </ion-content>
</ion-app>