
<ion-app>

  <app-header titulo = ""></app-header>

  <ion-content>

    <div class="container">
      <div class="pass-info">
        <h1>Crear nueva contraseña</h1>
        <p>La contraseña debe ser diferente a la utilizada anteriormente</p>
      </div>
      <div class="pass-inputs">
        <ion-item>
          <ion-input [(ngModel)]="pass1" numeric type="password" placeholder="Nueva contraseña"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input [(ngModel)]="pass2" numberic type="password" placeholder="Confirme contraseña"></ion-input>
        </ion-item>
        <ion-button (click)="crearPass()" expand="block">CREAR</ion-button>
      </div>
    </div>

  </ion-content>
</ion-app>