
<ion-app>

    <ion-toolbar class="back ion-text-start" >
      <ion-icon (click)="back(['/login'])" class="icono" name="arrow-back-outline"></ion-icon>
    </ion-toolbar>

  <ion-content>

    <div class="container">
      <div class="pass-info">
        <h1>¿Olvidaste la contraseña?</h1>
        <p>Ingresa el correo registrado a la cuenta para recuperar la contraseña</p>
      </div>
      <div class="pass-inputs">
        <ion-item>
          <ion-input placeholder="ejemplo@registrapp.cl"></ion-input>
        </ion-item>
        <ion-button (click)="enviar(['/restore-password'])" expand="block">ENVIAR</ion-button>
      </div>
    </div>
    
  </ion-content>

</ion-app>
