<ion-app>

  <app-header titulo = ""></app-header>

  <ion-content>

    <div class="container">
      <div class="pass-info">
        <h1>¿Olvidaste la contraseña?</h1>
        <p>Ingresa el correo registrado a la cuenta para recuperar la contraseña</p>
      </div>
      <div class="pass-inputs">
        <ion-item>
          <ion-input type="email" [(ngModel)]="correo" required placeholder="ejemplo@registrapp.cl"></ion-input>
        </ion-item>
        <ion-button (click)="correoEnviado()" expand="block">ENVIAR</ion-button>
      </div>
    </div>
    
  </ion-content>

</ion-app>
