<ion-app [fullscreen]="true">

  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="login"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>

    <div class="container">
      <div class="pass-info">
        <h1>¿Olvidaste la contraseña?</h1>
        <p>Ingresa el correo registrado a la cuenta para recuperar la contraseña</p>
      </div>
      <div class="pass-inputs">
        <ion-item>
          <ion-input [(ngModel)]="correo" inputmode="email" required="true" placeholder="ejemplo@registrapp.cl"></ion-input>
        </ion-item>
        <ion-button (click)="correoEnviado()" expand="block">ENVIAR</ion-button>
      </div>
    </div>
    
  </ion-content>

</ion-app>
